body{
    background-color: #263238;
    overflow-x: hidden;
}
.score{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    width: 100vw;
    text-align: center;
    margin-top: 5rem;
    color: whitesmoke;
}


.result h1{
    margin-top: 15rem;
}

.score__response{
    margin-top: 1rem;
}

.score__response h3{
    width: 90%;
}

.score__response h4{
    width: 95%;
}
@media screen and (max-width:800px){
    .result{
        position: relative;
        top: 39rem;
    }
}